{% extends layouts %} {% from breadcrumb import breadcrumb_field %} 
{% from message import alert_msg %}
{% from forms import input_field , loader , import_field , submit %}
{% from pagination import dataTable_pagination, pagination_field %}
{% block content %}
<div>
    <div class="emp-container">
        {% for program in program %}
        <a href="{{ __pathId( 'student@show_program' , { '_program': program._id_prog|e }) }}">
            <div class="card-body-emp">
                <img class="img-emp" src="{{ __img('emploi.jpg') }}" alt="">
                <p class="emp-title">{{ program.program_lib|e }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
