{% extends layouts %} {% from breadcrumb import breadcrumb_field %} {% from message import alert_msg %}{% from forms
import input_field , loader , import_field , submit %}{% from pagination import dataTable_pagination, pagination_field
%}{% block content %}
{{ breadcrumb_field( 'SHOW PROGRAM','program@all_program', 'PROGRAM LIST' )}}
{{ alert_msg( reponse , alert ) }}
<div class='container-fluid admin'>
    {% for program in program %}
    <div class="btn-group mb-3" role="group">
        <button id="zoom-in" class="btn btn-primary">Zoom In (+)</button>
        <p class="Titre">{{ program.program_lib | e }}</p>
        <button id="zoom-out" class="btn btn-secondary">Zoom Out (-)</button>
    </div>
    <div id="viewerContainer">
        <div id="viewer-emp" class="pdfViewer"></div>
    </div>
    <div id="document">{{ program.program | e }}</div>
    {% endfor %}
</div>
{% endblock %}