<footer>
    <div class="footer-content">
        <section class="footer-section">
            <h2>FORMATIONS</h2>
            <ul>
                <li><a href="https://w.univ-fhb.edu.ci/ufr-ufhb/">Les UFR</a></li>
                <li><a href="/formation/#domaines_de_formations">Programmes</a></li>
                <li><a href="/formation/#cufop">École / CHAIRE</a></li>
                <li><a href="/formation/#insertion_professionnelle">Insertion Professionnelle</a></li>
            </ul>
        </section>
        <section class="footer-section">
            <h2>RECHERCHE</h2>
            <ul>
                <li><a href="https://w.univ-fhb.edu.ci/recherches-innovations/#centre">Centres et instituts de recherche</a></li>
                <li><a href="/le-pole-scientifique-et-dinnovation/">Pôle scientifique</a></li>
                <li><a href="https://w.univ-fhb.edu.ci/recherches-innovations/#doctorales">Formations doctorales</a></li>
                <li><a href="https://w.univ-fhb.edu.ci/recherches-innovations/#educi">Les revues scientifiques</a></li>
            </ul>
        </section>
        <section class="footer-section">
            <h2><a href="https://w.univ-fhb.edu.ci/actualites/" style="color: #ecf0f1; text-decoration: none;">ACTUALITÉS</a></h2>
            <ul>
                <li><a href="https://w.univ-fhb.edu.ci/actualites/news/">News</a></li>
                <li><a href="https://w.univ-fhb.edu.ci/actualites/agenda/">Agenda</a></li>
                <li><a href="/actualites/communiques/">Communiqués</a></li>
                <li><a href="/documents-officiels">Documents Officiels</a></li>
            </ul>
        </section>
    </div>
    <div class="footer-bottom">
        <p>© Université Félix Houphouët-Boigny</p>
        <div-logo-footer>
            <img src="{{__img('Universite-FHB-Abidjan_CIV_20-removebg-preview.png')}}" alt="Logo de l'UFHB">
        </div-logo-footer>
    </div>
</footer>