<div class="banner">
    <img src="{{ __img('banniere.png') }}" alt="Bannière du site">
</div>
<div class="header-container">
    <div class="header-content">
        <a href="{{ __path('index') }}" class="header-link">
            <i class="bi bi-file-earmark-richtext-fill"></i>
            Historique
        </a>
        <a href="{{ __path('program') }}" class="header-link">
            <i class="bi bi-file-earmark-richtext-fill"></i>
            Formation
        </a>
        <a href="{{ __path('dashboard@students') }}" class="header-link">
            <i class="bi bi-key"></i>
            Connexion
        </a>
    </div>
</div>