{% extends layouts %}{% from breadcrumb import breadcrumb_field %} {% from breadcrumb import breadcrumb_field %} {% from
message import alert_msg %}{% from forms
import input_field, import_field, select_field , loader ,submit %}{% block content %}{{ breadcrumb_field( 'ADD
DOCUMENTS','documents@list_of_documents', 'DOCUMENTS LIST' )}} 
<div class='container-fluid'>
    {{ alert_msg( reponse , alert ) }}
    <form class="laodForm" method="post" novalidate enctype="multipart/form-data">
        <div class="row g-3">
            {{ __csrf() }}
            {{ input_field(
            {
            maxlength : 300 ,
            require : true ,
            character : "string",
            name : '__libelle__' ,
            label : 'Nom de la ressource' ,
            feedback : 'Please enter the name of ressource.' ,
            }
            )}}
            {{ import_field({
            name : 'ressource',
            id : 'ressource' ,
            accept : '.pdf',
            require : true,
            feedback : "This field is required!!!" })
            }}
            {{ submit({
            label : 'Save your informations',
            icon : 'bi bi-pen'
            }) }}
        </div>
    </form>
</div>
{% endblock %}