{% extends layouts %}
{% from breadcrumb import breadcrumb_field %}
{% from message import alert_msg %}
{% from pagination import pagination_field %}
{% block content %}
<div>
    {{ breadcrumb_field( 'PLATFORM DOCUMENTS LIST' )}}
    {{ alert_msg( reponse , alert ) }}
    <div class="document-container">
        {%for ressource in ressource%}
        <a href="{{ __pathId( 'documents@show_documents' , { '_ressource': ressource._id_doc|e }) }}">
            <div class="card-body-pdf">
                <img class="img-doc" src="{{ __img('PDF.png') }}" alt="">
                <p class="doc-title">{{ ressource.libelleDocument|e }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>


{% endblock %}